// Default article css.
.wv-article {
	background-color: #fff;
	position: relative;
	margin-bottom: 15px;
	@extend .clearfix;
}
.entry-thumbnail img {
	width: 100%;
}
.entry-title {
	margin: 0;
	padding: 15px 0;
}
.entry-title--haslink {
	font-size: $font-size-large;
	padding: 10px 0;
}
.entry-date {
	font-size: $font-size-small;
	color: $color-4th;
	padding: 5px 0;
	text-transform: uppercase;
}
.entry-content {
	padding: 15px 0;
}
.entry-page_link {
	clear: both;
	margin: 0 0 5px;
	text-transform: uppercase;
	> a,
	> span {
		height: 28px;
		line-height: 28px;
		width: 28px;
		text-align: center;
		border-radius: 50%;
		display: block;
		display: inline-block;
		font-weight: bold;
		margin-left: 5px;
	}

	> span {
		color: #fff;
		background-color: $color-2nd;
	}

	> a {
		// background-color: #eee;
		color: $color-1st;
		&:hover,
		&:focus {
			background-color: $color-2nd;
			color: #fff;
		}
	}
}

.entry-excerpt,
.entry-container,
.entry-header {
	@extend .clearfix;
}
