// Breadcrumbs
.breadcrumb-trail {
	@extend .clearfix;
	border-bottom: 1px solid #86878a;
	p,
	ul {
		float: left;
		margin: 0;
	}
	p {
		font-family: 'Roboto Condensed';
		color: #1fb6ef;
		font-size: 18px;
		margin-right: 10px;
	}
	ul {
		@extend .list-none;
	}
	li {
		display: inline-block;
		span,
		a {
			font-size: 18px;
			font-family: 'Roboto Condensed';
			color: #86878a;
			font-weight: 300;
		}
		&:not(.trail-end) {
			&:after {
				margin-right: 11px;
				margin-left: 11px;
				@include fa("\f105");
			}
		}
	}
	
}
