.wv-page-title {
    font-family: $font-2nd;
    margin: auto;
	font-size: 2.8rem;
    font-weight: 700;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 80px;
	@include media( '>=sm' ) {
		font-size: 5rem;
		margin-top: 110px;
   		margin-bottom: 110px;
	}
}
.wv-header-img {
	overflow: hidden;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	// min-height: 160px;
 //    @include media( '>=md' ) {
	// 	min-height: 260px;
	// }
	
}
.wv-header-iwrap {
	position: relative;
}

