.navs {
	list-style: none;
	padding: 0;
	margin: 0;
	ul {
		list-style: none;
		z-index: 99;
		@include media( '>=lg' ) {
			padding: 0;
			margin: 0;
		}
	}
	li {
		position: relative;
	}
	a {
		display: block;
		position: relative;
		text-decoration: none;
		padding: 0px 20px;
		line-height: 19px;
		font-family: 'Nunito Sans', sans-serif;;
		font-weight: 400;
		// color: #fff;
	}
}
.navs--vertical {
	width: 100%;
	> li {
		width: 100%;
		border-top: 1px solid #09589e;
		&:last-child {
			border-bottom: 1px solid #09589e;
		}
	}
	ul {
		display: none;
		background-color: #009fe0;
		margin: 0;
	}
	li {
		border-top: 1px solid #09589e;
	}
	li li a {
		padding-left: 20px;
		&:before {
			content: '-';
			font-size: 18px;
			margin-right: 8px;
			margin-top: 5px;
		}
	}
	li li li a {
		padding-left: 35px;

	}
	li li li li a {
		padding-left: 50px;
	}
	li li li li li a {
		padding-left: 65px;
	}
	a {
		white-space: initial;
		line-height: 25px;
		padding-top: 10px;
		padding-bottom: 10px;
		font-size: 1.6rem;
		color: #fff;
	}
	i.active:before {
		content: "\f068";
	}
}
.submenu-icon {
	color: #fff;
	position: absolute;
	top: 0;
	right: 0;
}
.submenu-icon--mobile {
	line-height: 45px;
	height: 45px;
	width: 40px;
	text-align: center;
}

.navs--horizontal {
	z-index: 99;
	@include transition( all .3s ease );

	> li {
		float: left;
		border-bottom: 2px solid transparent;
		@include transition(all .5s);
		&:hover {
			border-bottom: 2px solid $link-hover-color;
		}
		> ul {
			display: none;
			position: absolute;
			top: 100%;
			left: 0;
		}
		> a {
			line-height: 65px;
			padding-right: 20px;
			padding-left: 20px;
			border-left: 1px solid #fff;
			font-size: 1.8rem;
		}
		&:first-child > a {
			border-left: none;
		}
		> .submenu-icon {
			line-height: 65px;
			font-size: 1.8rem;
			margin-left: -17px;
			display: inline-block;
			position: relative;
		}
	}
	ul {
		display: none;
		opacity: 0;
		border-top: 3px solid #00aeef;
		background-color: #1b417a;
		@include transition( all .3s ease );
		ul {
			position: absolute;
			top: 0%;
			left: 100%;
		}
	}
	li {
		&:hover > ul {
			display: block;
			opacity: 1;
		}
		li {
			min-width: 150px;
			a {
				line-height: 35px;
				width: 100%;
			}
			.submenu-icon {
				line-height: 35px;
				margin-right: 8px;				
				position: absolute;
			}
		}

	}
	a {
		white-space: nowrap;
		font-size: 1.6rem;
		display: inline-block;
		&:hover {
			color: $text-color;
		}
	}
}

.navs--search {
	display: table;
	margin: 0 auto !important;
	padding-top: 5px !important;
	li {
		float: left;
	}
	a {
		padding: 0 8px;
	}
}
.wv-header-desktop .wv-menu-icon .lang-item a {
	font-size: 1.6rem;
}

