.parallax-window-wrap {
	clear: both;
	position: relative;
	overflow: hidden;
	background-color: $color-6th;
	.parallax-window {
		background-color: transparent;
		position: absolute;
		top: -100px;
		left: 0;
		right: 0;
		bottom: -100px;
	}
}