.wv-wrap--prod-arc > .wv-item:nth-child(4n+1) {
	@extend .clearboth;
}
.wv-prod-arc .entry-container {
	position: relative;
}
.wv-prod-arc__act {
	text-align: center;
	padding: 10px;
	position: absolute;
	visibility: hidden;
	left: 0;
	right: 0;
	top: 40%;
	opacity: 0;
	@include transition(all 0.5s ease);
}
.wv-prod-arc:hover {
	.wv-prod-arc__act {
		opacity: 1;
		visibility: visible;
	}
}
.wv-prod-sing__title {
	font-weight: bold;
}