.search__form {
  position: relative;
  border: none;

  ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #fff;
  }
  ::-moz-placeholder { /* Firefox 19+ */
    color: #fff;
  }
  :-ms-input-placeholder { /* IE 10+ */
    color: #fff;
  }
  :-moz-placeholder { /* Firefox 18- */
    color: #fff;
  }
}

.search__input {
  border-radius: 2px;
  padding-left: 30px;
  height: 25px;
  width: 100%;
  outline: 0;
  border: none;
}

.search__button {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #fff;
  color: #8a8a8a;
  width: 25px;
  height: 25px;
  line-height: 25px;
  border: 0;
  border-radius: 6px;
  padding: 0;
  font-size: 17px;
  text-align: center;
  outline: 0;
}

.search--small {
  .search__form {
    padding-right: 48px;
  }

  .search__input {
    height: 34px;
    font-size: 14px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .search__button {
    height: 34px;
    width: 38px;
    line-height: 34px;
    font-size: 17px;
  }
}
.wv-icons__search {
  .dropdown-menu {
    padding: 0;
  }
  .search__form {
    border: none;
    border-radius: 0;
  }
}
