.wv-social {
	margin: 0;
	padding: 0;
	li {
		display: inline-block;
		padding: 10px 0;
		margin-right: 5px;
	}
	a {
		font-size: 1.6rem;
		height: 30px;
		line-height: 30px;
		width: 30px;
		text-align: center;
		border-radius: 50%;
		display: block;
		display: inline-block;
		font-weight: bold;
	}
}
.wv-social--profile {
	a {
		font-size: 2rem;
		line-height: 40px;
		height: 40px;
		width:40px;
		margin: 0 5px;
		text-align: center;
		border-radius: 50%;
		border: 1px solid #fff;
		color: $color-2nd;
		background-color: #fff;
		&:hover,
		&.active,
		&:focus {
			background: $color-2nd;
			color: #fff;
		}
	}
}
.wv-social--sharing {
	text-transform: uppercase;
	background-color: #fff;
	a {
		color: $color-1st;

		&:hover {
			color: #fff;
			background-color: $color-2nd;
		}
	}
}
