#wv-site-footer {
	@extend .clearfix;
	position: relative;
	background-color: $text-color;
	padding: 10px 0;
	color: #fff;
}

.wv-copyright {
	margin: 0;
	line-height: 20px;
	font-size: 1.6rem;
	line-height: 35px;
}
.wv-social--footer {
	float: right;
	@include media('>sm') {
		margin-left: -15px;
	}
	li {
		padding: 0;
	}
	a {
		width: 35px;
		height: 35px;
		line-height: 35px;
		padding: 1px;
		background-color: $color-6th;
		color: $text-color;
		border: none;
		&:hover {
			background-color: $color-2nd;
			color: #fff;
		}
	}
}


