/* Side header */
.wv-site-header {
  position: relative;
  // @include box-shadow( 0px 2px 5px 0px rgba(0, 0, 0, 0.1) );
  // z-index: 9;
}

/* Mobile */
.wv-header-desktop {
  display: none;
}
.wv-header-mobile {
  .wv-logo {
    height: 50px;
    line-height: 50px;
    img {
      max-height: 50px;
    } 
  }
  .wv-menu-icon {
    font-size: 20px;
    line-height: 20px;
    padding: 5px 8px;
    margin: 10px 0;
    background: #fff;
    border-radius: 5px;
  }
}

/* Menu affix. */
.affix {
  position: fixed !important;
  top: 0;
  width: 100%;
  z-index: 99;
  background: #fff;
  opacity: 1;
}

/* Sdie slide */
.wv-header-side {
    display: inline-block;
    position: fixed;
    top: 0;
    bottom: 0;
    right: -250px;
    width: 250px;
    height: 100%;
    background-color: #1b417a;
    color: #000;
    z-index: 9999;
    .wv-logo {
      text-align: center;
      margin-bottom: 20px;
    }
}
.wv-tablist {
  .item {
    padding-left: 0px;
    padding-right: 0px;
    margin-bottom: 0;
  }
  .item.active {
     background: #007bc4;
  }
  .item a {
    color: #fff;
    display: block;
    text-align: center;
    padding: 5px 8px;
    margin: 10px 0;
    font-size: 2rem;
    line-height: 2rem;
    border-radius: 5px;
    background-color: transparent !important;
    border: none !important;
    color: #fff !important;
  }
}

.wv-tab-content {
  #search {
    .wv-search {
      padding-top: 15px;
      padding-bottom: 15px;
    }
    a {
      border-top: 1px solid #09589e;
      padding-left: 15px;
      padding-right: 15px;
      &:last-child {
        border-bottom: 1px solid #09589e;
      }
      font-size: 1.6rem;
    }
  }
  .search__form {
    max-width: initial;
    display: block;
    margin-left: 15px;
    margin-right: 15px;
  }
  #cart {
    .col-left {
      top: 10px;
    }
    .col-right {
      width: auto;
    }
    .cart-title,
    a {
      color: #fff;
    }
    .cart-remove {
      display: block;
    }
    .btn {
      padding: 10px 15px;
      font-size: 1.6rem;
    }
  }
  #lang {
    a {
      color: #fff;
      font-size: 1.6rem;
      border-top: 1px solid #09589e;
      padding: 10px 15px;
      display: block;
      &:last-child {
        border-bottom: 1px solid #09589e;
      }
    }
  }
}
.wv-body-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.3);
    z-index: 9002;
    display: none;
}
.wv-submenu-toggle {
    position: absolute;
    right: 10%;
    top: 15%;
    z-index: 999;
    i {
      width: 30px;
      height: 30px;
      text-align: center;
      font-size: 1.8rem;
      &.active {
        color: #56bfd1;
      }
    }
}

/* Desktop */
.wv-header-mobile {
  background-color: #fff;
  padding-top: 5px;
  padding-bottom: 5px;
  @include media(">=lg") {
    display: none;
  }
}
.wv-header-desktop {
  @include media(">=lg") {
    display: block;
  }
  @include box-shadow(0 2px 5px 0 rgba(0,0,0,0.1));
  >.wrap {
    position: relative;
    display: table;
    margin: 0 auto;
  }
  .wv-header-menu {
    float: right;
  }
  .wv-logo {
    text-align: center;
    line-height: 65px;
    float: left;
    img {
      max-height: 35px;
    }
  }
  .wv-menu-icon {
    float: right;
  }
  .wv-header-menu {
    margin-left: 50px;
    margin-right: 45px;
  }
  .wv-search {
    width: 100%;
  }
  .wv-cart-icon {
    margin-left: 15px;
    margin-right: 15px;
  }
  .wv-cart-icon a {
    line-height: 65px;
    color: #fff;
    font-size: 1.8rem;
  }
  .wv-cart-icon i {
    margin-right: 8px;
  }
  .caret {
    border-top: 6px solid;
    border-right: 6px solid transparent;
    border-left: 6px solid transparent;
  }
}
.wv-logo--link {
  font-weight: bold;
  font-family: $font-2nd;
}