// Grid system.
.site-layout {
  @include make-row;

  .content-area {
    @extend .col-sm-9;
  }
  .widget-area {
    @extend .col-sm-3;
  }

  &.sidebar-right {
   .content-area {
      @extend .col-sm-9;
    }
  }

  &.sidebar-left {
    .content-area {
      @extend .col-sm-push-3;
    }

    .widget-area {
      @extend .col-sm-pull-9;
    }
  }

  &.no-sidebar,
  &.sidebar-none {
    .content-area {
      float: none;
      width: 100% !important;
      margin-left: auto;
      margin-right: auto;
    }

    .widget-area {
      display: none;
    }
  }
}

#wv-site-content {
  background-color: #fff;
}