.search .site-main {
	.page-header {
		margin-top: 0;
		margin-bottom: 0px;
		padding-bottom: 0px;
	}
	.search__form {
		display: block;
		margin: 0;
		max-width: 450px;
		width: 100%;
	}
	.search__input {
		height: 40px;
		padding-left: 40px;
	}
	.search__button {
		line-height: 40px;
		width: 40px;
		height: 40px;
	}
}