body {
  overflow-x: hidden;
  position: relative;
}
a {
  transition: all .3s ease;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  border: 0;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  margin-top: 0;
  letter-spacing: 1px;
  font-weight: 500;
}

/* Lists */
ul,
ol {
  margin: 0;
  padding: 0;
}

ul {
  list-style: disc;
}

ol {
  list-style: decimal;
}

li > ul,
li > ol {
  margin-bottom: 0;
  margin-left: 1.5em;
}

dt {
  font-weight: 700;
}

dd {
  margin: 0 1.5em 1.5em;
}

body.admin-bar {
  .wv-header-affix.affix,
  .wv-header-affix.fixed {
    @include media(">=md") {
      margin-top: 32px;
    }
  }

  .wv-header-affix.affix-top {
    @include media("<=sm") {
      padding-top: 46px;
    }
  }
  &.header-8 .wv-header-desktop,
  &.header-9 .wv-header-desktop {
     margin-top: 32px;
  }
}
  