/* Color helpers */
.white {
  color: #fff;
}
.dark {
  color: #000;
}
.gray {
  color: #898989;
}

/* Bg hepers */
.bg-lighten {
  background-color: #f9f9f9;
}

.bg-gray {
  background-color: #f4f4f4;
}

.bg-dark {
  background-color: #333;
}

.bg-darken {
  background-color: darken(#333, 5%);
}

/* Font size */
.tiny {
  font-size: 10px;
}
.small {
  font-size: 12px;
}
.medium {
  font-size: 14px;
}
.large {
  font-size: 16px;
}

/* Font weight helpers */
.light {
  font-weight: 300;
}
.normal {
  font-weight: 400;
}
.bold {
  font-weight: 700;
}
@each $w in 100, 200, 300, 400, 500, 600, 700, 800, 900  {
  .w-#{$w} {
    font-weight: #{$w} !important;
  }
}

/* Text helpers */
.center {
  text-align: center;
}
.left {
  text-align: left;
}
.right {
  text-align: right;
}
.upper,
.text-upper {
  text-transform: uppercase;
}

.text-through {
  text-decoration: line-through;
}

.font-rc {
  font-family: 'Roboto Condensed' !important;
}

.color-red {
  color: #c73c49 !important;
}

.spacing-5 {
  letter-spacing: 5px;
}
.spacing-10 {
  letter-spacing: 10px;
}

/* Display helpers */
.block {
  display: block !important;
}
.inline-block {
  display: inline-block !important;
}
.inline {
  display: inline !important;
}

/* Margin and padding helpers */
.add-pd {
  padding-left: 15px !important;
  padding-right: 15px !important;
}
.rm-pd {
  padding-left: 0px !important;
  padding-right: 0px !important;
}


@each $pt in 0, 30, 50, 70, 145  {
  .pt-#{$pt} {
    padding-top: #{$pt}px !important;
  }
}

@each $pr in 15, 50  {
  .pr-#{$pr} {
    padding-right: #{$pr}px !important;
  }
}

@each $pb in 0, 40, 50, 100 {
  .pb-#{$pb} {
    padding-bottom: #{$pb}px !important;
  }
}

@each $pl in 0, 10, 15, 50  {
  .pl-#{$pl} {
    padding-left: #{$pl}px !important;
  }
}

@each $mt in 0, 10, 15, 20, 30, 50 {
  .mt-#{$mt} {
    margin-top: #{$mt}px !important;
  }
}

@each $mb in 0, 10, 15, 20, 30, 35, 40, 50, 60, 100, 120 {
  .mb-#{$mb} {
    margin-bottom: #{$mb}px !important;
  }
}

@each $ml in 0, 5, 10, 15, 20, 30, 50 {
  .ml-#{$ml} {
    margin-left: #{$ml}px !important;
  }
}

@each $mr in 0, 5, 10, 15, 20, 30, 35, 40, 50 {
  .mr-#{$mr} {
    margin-right: #{$mr}px !important;
  }
}

/* List */
.list-none {
  padding: 0;
  margin: 0;
  list-style: none;
}
.xs-hidden {
  @include media("<sm") {
    display: none;
  }
}
.sm-hidden {
  @include media("<md") {
    display: none;
  }
}
.md-hidden {
  @include media("<lg") {
    display: none;
  }
}
// Caret.
.wv-caret--right {
  @extend .caret;
  border-left: 15px solid;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
}
// Fix row.
.clearboth {
  clear: both;
}

.wv-img-zoom {
  position: relative;
  overflow: hidden;
  img {
    max-width: 100%;
    @include transition(all 0.3s);
  }
  &:hover img {
    @include transform( scale(1.2) );
  }
}
