//== Breakpoints
$breakpoints: (xs: 480px, sm: 768px, md: 992px, lg: 1200px);

//== Colors
$color-1st:                                       #1b417a; // Main.
$color-2nd:                                       #e0aa49; // Hover.
$color-3rd:                                       #202121; // Text.
$color-4th:                                       #b5b7b9; // Date, placeholder.
$color-5th:                                       #1a1a1a;
$color-6th:                                       rgba(245, 245, 245, 1); // Background..

//== Scaffolding
$line-height-base:                                26/14;
$body-bg:                                         #fff;

$text-color:                                      $color-3rd;
$link-color:                                      $color-3rd;
$link-hover-color:                                $color-2nd;
$link-hover-decoration:                           none;

//== Typography
$font-1st:                                        "Roboto", sans-serif; // Font base.
$font-2nd:                                        'Nunito Sans', sans-serif; // Font heading.

$font-family-base:                                $font-1st;

$font-size-base:                                  14px;
$font-size-large:                                 18px; // Post title.
$font-size-small:                                 12px; // Post date.

$font-size-h1:                                    32px;
$font-size-h2:                                    28px;
$font-size-h3:                                    24px;
$font-size-h4:                                    22px;
$font-size-h5:                                    18px;
$font-size-h6:                                    16px;

$line-height-base:                                1.85714286; // 26/14
$input-height-base:                               1.85714286; // 26/14

$headings-font-family:                            $font-2nd;
$headings-font-weight:                            700;
$headings-line-height:                            1.1;
$headings-color:                                  $color-3rd;

//==Icon glyphicon
$icon-font-path:									"../fonts/";

//== Components
$border-radius-base:                              6px;
$border-radius-large:                             12px;
$border-radius-small:                             3px;


//== Buttons
$btn-font-weight:                                 700;

$btn-default-color:                               #fff;
$btn-default-bg:                                  $color-1st;
$btn-default-border:                              $color-1st;


//== Forms
// $input-border-focus:                              $color-1st;
// $input-color-placeholder:                         $color-4th;
// $input-height-base:                               auto;
// $form-group-margin-bottom:                        20px;


//== Small screen / tablet
$grid-float-breakpoint:                           992px;


// Menu links
$rent-menu-link:                                  $color-4th;
$rent-menu-link-hover:                            $color-1st;

// Container
$container-large-desktop:                         1200px;

// Code & pre
$code-color:                                      $color-4th;
$code-bg:                                         #f2f2f2;
$pre-border-color:                                #e6e6e6;

// Button
$btn-default-color:                               #f6f6f6;
$btn-default-bg:                                  $color-3rd;

// Tooltip.
$tooltip-color:                                   #fff;
$tooltip-bg:                                      $color-1st;
$tooltip-opacity:                                 1;
