.widget-area {
  margin-top: 30px;
  @include media( '>=sm' ) {
    margin-top: 0;
  }
}

.widget {
  background-color: #fff;
  margin-bottom: 15px;
  padding: 10px 0;
  ul {
    @extend .list-none;
  }
}

.widget-title {
  font-size: 1.8rem;
}

.widget_archive > ul,
.widget_categories > ul,
.widget_pages > ul,
.widget_meta > ul,
.widget_recent_comments > ul,
.widget_recent_entries > ul,
.widget_nav_menu ul.menu {
  li {
    margin-bottom: 10px;
  }
  a {
    color: $text-color;
    &:hover,
    &:focus {
      color: $link-hover-color;
      font-weight: 500;
    }
  }

  ul.children,
  ul.sub-menu {
    margin-top: 10px;
    padding-left: 15px;
  }
}

// Calendar.
.widget_calendar table {
  margin: 0;
  width: 100%;
  position: relative;

  td,
  th {
    padding: 0;
    line-height: 3;
    text-align: center;
  }

  caption {
    color: $color-3rd;
    padding-top: 0;
    padding-bottom: 12px;
    margin-bottom: 5px;
    font-size: 16px;
    text-align: center;
    border-bottom: 1px solid #e1e1e1;
  }

  thead tr th {
    color: $color-3rd;
    font-weight: 400;
  }

  tbody tr td {
    font-size: 12px;
  }

  tbody a {
    color: black;
    font-weight: 700;
    display: block;
    background-color: #f0f0f0;
    &:hover,
    &:focus {
      background-color: darken(#f0f0f0, 10%);
    }
  }

  tfoot {
    height: 0;
    display: inline-block;
    overflow: hidden;
  }

  tfoot a {
    top: 7px;
    position: absolute;
    line-height: 1;
  }

  #prev a {
    left: 0;
  }

  #next a {
    right: 0;
  }

  #today,
  #today a {
    color: white;
    background-color: $color-1st;
    &:hover,
    &:focus {
      color: white;
      background-color: $color-2nd;
    }
  }
}

// Calendar.
// .widget_search {
//   .search__form {
//     margin: initial;
//     max-width: 100
//   }
// }


