// Header.
.wv-navbar {
    margin-bottom: 0;
    background-color: #0072C6;
    .navbar-header a {
        color: #fff;
    }
}
.wp-dropdown-toggle__top {
    color: #fff;
}
.wv-sidebar {
    background-color: #fff;
}
a {
    color: #262626;
    size: 15px;
}
