#wv-auth {
	display: table;
    position: absolute;
    height: 100%;
    width: 100%;
	background-image: url('../images/login_wp.jpg');
	background-size: cover; 
	background-repeat: no-repeat;
	background-position: center;
	padding-top: 10%;
}