// Variables

//== Breakpoints
$breakpoints: (xs: 480px, sm: 768px, md: 992px, lg: 1200px);

$gray-darker: lighten(#000, 13.5%);
$gray-dark: lighten(#000, 20%);
$gray: lighten(#000, 33.5%);
$gray-light: lighten(#000, 60%);
$gray-lighter: lighten(#000, 93.5%);
$gray-lightest: lighten(#000, 97.25%);
$brand-primary: #428bca;
$brand-success: #5cb85c;
$brand-info: #5bc0de;
$brand-warning: #f0ad4e;
$brand-danger: #d9534f;

//== Colors
// $color-1st:                                       #56bfd1;
// $color-2nd:                                       #898d99;
// $color-3rd:                                       #cccccc;
// $color-4th:                                       #4c4c4c;
// $color-5th:                                       #666; // 8a8a8a
// $color-6th:                                       #f5f5f5;

// $brand-primary:                                   $color-1st;
// $brand-success:                                   #0dae6b;
// $brand-info:                                      #1fc8e5;
// $brand-warning:                                   #f78f2c;
// $brand-danger:                                    #de3636;

//== Scaffolding
// $line-height-base:                                26/14;
// $body-bg:                                         #fff; // f7f7f7.

// $text-color:                                      $color-5th;
// $link-color:                                      $color-5th;
// $link-hover-color:                                $color-1st;
// $link-hover-decoration:                           none;

//== Typography
// $font-1st:                                        "Roboto", sans-serif;
// $font-2nd:                                        'Roboto', sans-serif;

// $font-family-base:                                $font-1st;

// $font-size-base:                                  14px;
// $font-size-large:                                 18px;
// $font-size-small:                                 11px;

// $font-size-h1:                                    32px;
// $font-size-h2:                                    28px;
// $font-size-h3:                                    26px;
// $font-size-h4:                                    22px;
// $font-size-h5:                                    20px;
// $font-size-h6:                                    17px;

// $line-height-base:                                1.85714286; // 26/14
// $input-height-base:                               1.85714286; // 26/14

// $headings-font-family:                            $font-2nd;
// $headings-font-weight:                            700;
// $headings-line-height:                            1.1;
// $headings-color:                                  $color-4th;

//==Icon glyphicon
$icon-font-path:									"../fonts/";

//== Components
// $border-radius-base:                              6px;
// $border-radius-large:                             12px;
// $border-radius-small:                             3px;


//== Buttons
// $btn-font-weight:                                 700;

// $btn-default-color:                               #fff;
// $btn-default-bg:                                  $color-1st;
// $btn-default-border:                              $color-1st;


//== Forms
// $input-border-focus:                              $color-1st;
// $input-color-placeholder:                         $text-color;
// $input-height-base:                               auto;
// $form-group-margin-bottom:                        20px;


//== Small screen / tablet
// $grid-float-breakpoint:                           992px;


// Menu links
// $rent-menu-link:                                  $color-4th;
// $rent-menu-link-hover:                            $color-1st;

// Container
// $container-large-desktop:                         1200px;

// Code & pre
// $code-color:                                      $color-4th;
// $code-bg:                                         #f2f2f2;
// $pre-border-color:                                #e6e6e6;

// Button
// $btn-default-color:                               #f6f6f6;
// $btn-default-bg:                                  $color-3rd;

// Tooltip.
// $tooltip-color:                                   #fff;
// $tooltip-bg:                                      #56bfd1;
// $tooltip-opacity:                                 0.6;
