@import "variables";
@import "mixins";
@import "include-media";

@import "bower_components/bootstrap-sass/assets/stylesheets/bootstrap";
@import "help";
@import "layout";
@import "header";
@import "login";
@import "media";
@import "crud";

img {
	max-width: 100%;
}
a:hover {
	text-decoration: none;
}
.wv-box {
	background-color: #fff;
	padding: 15px;
	margin-bottom: 30px;
}
.wv-page-header {
	margin-top: 10px;
}
@media screen and ( min-width: 768px ) {
	#page-wrapper {
		padding-top: 30px;
	}
	#page-wrapper .wrap {
		// background-color: #fff;
		// padding: 15px;
	}
}
